#  <font color='blue'>Why are the best and most experienced employees leaving? </font>
Data ranging Notebook
Dataset is from: https://www.kaggle.com/ludobenistant/hr-analytics
Data visualization using Python packages: Numpy,Pandas,Seaborn,Plotly and Matplotlib

In [1]:
# Import packages
import pandas as pd
import numpy as np
import re

%matplotlib inline

#load dataset
hr = pd.read_csv('C:\\Users\\dxd4380\\Documents\\personal\\Programming samples\\Python\\1.Data Viz- HR Analytics\\HR_comma_sep.csv')
#hr = pd.DataFrame.from_csv('../1.Data Viz- HR Analytics/HR_comma_sep.csv', index_col=None)

### How many rows and columns in this dataset?

In [2]:
# Initial investigation
sh=hr.shape
print("Number of rows in this dataset is {} and number of columns is {}".format(hr.shape[0],hr.shape[1]))

Number of rows in this dataset is 14999 and number of columns is 10

### If any of the columns below have values less than the number of rows, it indicates missing data

In [3]:
print(hr.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
satisfaction_level       14999 non-null float64
last_evaluation          14999 non-null float64
number_project           14999 non-null int64
average_montly_hours     14999 non-null int64
time_spend_company       14999 non-null int64
Work_accident            14999 non-null int64
left                     14999 non-null int64
promotion_last_5years    14999 non-null int64
sales                    14999 non-null object
salary                   14999 non-null object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB
None

### Conclusion: <font color='red'>There is no missing data in this dataset</font>

In [4]:
hr.head()
hr.tail()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

### Is the data Tidy?
Here are the principles of Tidy data
* Columns represent separate variables
* Rows represent individual observations
* Observational units form tables

### Conclusion: <font color='red'>Data is tidy</font>

### Column header formatting

In [5]:
hr = hr.rename(columns={'satisfaction_level': 'Satisfaction_Level', 'last_evaluation': 'Last_Evaluation',
'average_montly_hours': 'Average_Monthly_Hours', 'number_project': 'Number_of_Projects',
'time_spend_company': 'Time_Spend_Company','Work_accident':'Work_Accident','left':'Left','promotion_last_5years','Promotion_Last_5_Years','sales':'Department','salary':'Salary'})

SyntaxError: invalid syntax (<ipython-input-5-d7291cc41720>, line 3)

### Classify types of data

### Quantitative:
* <font color='red'>Continuous variables: Satisfaction_Level, Last_Evaluation, Average_Monthly_Hours</font> 
* <font color='red'>Discrete: Average_Monthly_Hours, Time_Spend_Company, Number_of_Projects</font>

### Qualitative/ Categorical:
* <font color='red'>Binary:Work_Accident, Left, Promotion_Last_5_Years</font>
* <font color='red'>Unordered/Nominal: Department</font>
* <font color='red'>Ordered/Ordinal: Salary</font>


### To understand differences between different types of data, please read:
http://blog.minitab.com/blog/understanding-statistics/understanding-qualitative-quantitative-attribute-discrete-and-continuous-data-types

### Convert columns into appropriate data types
Converting qualitative variables into categories reduces size of the file

In [ ]:
hr.Work_accident = hr.Work_Accident.astype('category')
hr.Left = hr.Left.astype('category')
hr.Promotion_Last_5_Years = hr.Promotion_Last_5_Years.astype('category')
hr.Department = hr.Department.astype('category')
hr.Salary = hr.Salary.astype('category')

### Conclusion: <font color='red'>Rounded off Satisfaction Level to 1 decimal point to make the data discrete</font>

### Check data formats

In [ ]:
# Create the series 
saisfaction_levels=hr['Satisfaction_Level'].astype(str)

# Drop all the duplicates 
saisfaction_levels  = saisfaction_levels.drop_duplicates()

# Write the regular expression: pattern
pattern = '^\d*\.\d{2}$'

# Create the Boolean vector: mask
mask = saisfaction_levels.str.contains(pattern)

# Invert the mask: mask_inverse
mask_inverse = ~mask

# Subset countries using mask_inverse: invalid
invalid_saisfaction_levels = saisfaction_levels.loc[mask_inverse]

# Print invalid
print(invalid_saisfaction_levels)

In [ ]:
monthly_hours=hr['Average_Monthly_Hours'].astype(str)

# Drop all the duplicates 
monthly_hours  = monthly_hours.drop_duplicates()

# Write the regular expression: pattern
pattern = '^\d*$'

# Create the Boolean vector: mask
mask = monthly_hours.str.contains(pattern)

# Invert the mask: mask_inverse
mask_inverse = ~mask

# Subset countries using mask_inverse: invalid
invalid_monthly_hours = monthly_hours.loc[mask_inverse]

# Print invalid
print(invalid_monthly_hours)

### Investigate data formats of all columns except the Continuous variables

In [ ]:
print(hr['Satisfaction_Level'].value_counts(dropna=False))
print(hr['Number_of_Projects'].value_counts(dropna=False))
print(hr['Time_Spend_Company'].value_counts(dropna=False))
print(hr['Work_Accident'].value_counts(dropna=False))
print(hr['Left'].value_counts(dropna=False))
print(hr['Sales'].value_counts(dropna=False))
print(hr['Salary'].value_counts(dropna=False))

### Conclusion:
* Outliers:<font color='red'>No outliers found</font>
* <font color='red'>Implement case formatting in sales and salary columns </font>
* <font color='red'>Rename column sales as "Department" </font>

### Column Data Formatting

In [ ]:
hr['Sales']=hr.sales.str.title()
hr['Salary']=hr.salary.str.title()

### Conclusion: <font color='red'>All columns have appropriate formats</font>

### View summary statistics to check if the values fall in the normal range

In [ ]:
hr.describe()

### Conclusion:<font color='red'> All numeric columns seem to fall in the normal range</font>